// Load card
.load-card {
  background: $pinkish-gray;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 $black-50;
  display: flex;
  flex-direction: column;
  height: calc(100% - 30px);
  margin: 0 auto rem-calc(30);
  max-width: 100%;
  padding: rem-calc(15 25);
  width: rem-calc(500);
}

.load-card__button {
  margin-top: auto;
  text-align: center;
}

.load-card__remove {
  font-size: rem-calc(16);
  margin: rem-calc(0 -10 -8) auto;

  &.top {
    margin-bottom: rem-calc(-5);
    margin-top: rem-calc(-5);
  }
}
