// Panels
.panels-wrapper {
  display: flex;
  width: 100%;
}

.panel-container {
  max-width: rem-calc(475);
  padding: rem-calc(0 15);
  width: 50%;
}

.panel {
  background: $silver;
  border-radius: rem-calc(8);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.panel__top {
  margin: rem-calc(22 30 40);
}

.panel__heading {
  font-size: rem-calc(36);
  line-height: 1.3;
  margin: 0 0 rem-calc(5);

  @include primary-font-bold;
}

.panel__subheading {
  margin: rem-calc(0 0 0 10);

  a {
    color: inherit;

    &:hover,
    &:focus {
      color: $color-link-hover;
    }
  }

  img {
    margin-left: rem-calc(7);
  }
}

.panel__main {
  background: no-repeat center center;
  background-size: cover;
  flex: 1;

  &--shipping {
    background-image: url('assets/img/shipping-uploads-bg.jpg');
  }
}

.panel__filter {
  margin: rem-calc(0 30 25);
}

.panel__filter-title {
  color: $nice-blue;
  margin: rem-calc(10 0 0 10);
}

.panel__details {
  margin: rem-calc(0 40 15);
}

.panel__button {
  bottom: rem-calc(13);
  position: absolute;
  right: rem-calc(13);
}
