/*================ Color Variables ================*/
$white: #fff;
$white-90: rgba(243, 243, 243, 0.9);
$off-white: #f5f5f5;
$black: #000;
$black-50: rgba(0, 0, 0, 0.5);
$pinkish-gray: #bfbfbf;
$grape-purple: #3e1a5d;
$wisteria: #b2a7cc;
$blueberry: #58418d;
$blueberry-two: #59418e;
$cloudy-blue: #cec7d5;
$nice-blue: #1077bc;
$teal-green: #21a462;
$rouge: #b22130;
$red-pink: #f51a5d;
$faded-pink: #e7bbc8;
$silver: #dadcde;
$yellowish-orange: #fcae15;
$orange: #c28102;
$dark-orange: #a97002;

// Color Hierarchy
$color-primary: $grape-purple;

// Background colors
$color-body: $white;

// Text colors
$color-body-text: #000;

// Border colors
$color-border: $color-primary;

// Helper colors for form error states
$color-disabled: $pinkish-gray;
$color-disabled-border: $pinkish-gray;
$color-error: $red-pink;
$color-error-bg: $faded-pink;
$color-success: #000;
$color-success-bg: #000;

$color-link: black;
$color-link-hover: $nice-blue;

/*================ Typography Variables ================*/
$font-size-base: 16px;

/*================ Grid ================*/

/*================ Height ================*/
$footer-height: 50;

/*================ Transitions ================*/
$transition-default: 0.3s ease-out;

/*================ Z-Index ================*/
$z-index-skip-to-content: 10000; // really high to be safe of app markup
