// Buttons
.button {
  background-color: $cloudy-blue;
  border: 1px solid $color-primary;
  border-radius: rem-calc(10);
  color: $color-primary;
  font-size: rem-calc(16);
  min-width: rem-calc(150);
  padding: rem-calc(12 10);

  &:hover,
  &:focus {
    background-color: $color-primary;
    color: $white;
  }
}
