// Buttons
.button {
  background-color: $cloudy-blue;
  border: 1px solid $color-primary;
  border-radius: rem-calc(10);
  color: $color-primary;
  font-size: rem-calc(16);
  margin: 0;
  min-width: rem-calc(150);
  padding: rem-calc(12 15);

  &:hover,
  &:focus {
    background-color: $color-primary;
    color: $white;
  }

  + .button {
    margin-left: rem-calc(5);
  }
}

.button--small {
  font-size: rem-calc(14);
  min-width: rem-calc(80);
  padding: rem-calc(8);
}

.button--auto-width {
  min-width: initial;
}

.button--dark {
  background-color: $color-primary;
  color: $white;

  &:hover,
  &:focus {
    border-color: $blueberry;
    background-color: $blueberry;
  }
}

.button--green {
  background-color: $teal-green;
  border-color: $teal-green;
  color: $white;

  &:hover,
  &:focus {
    border-color: darken($teal-green, 10%);
    background-color: darken($teal-green, 10%);
  }
}

.button--red {
  background-color: $rouge;
  border-color: $rouge;
  color: $white;

  &:hover,
  &:focus {
    border-color: darken($rouge, 10%);
    background-color: darken($rouge, 10%);
  }
}
